body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a1 {
    color: white;
    font: 50px Times New Roman, Serif;
}

a12 {
    color: white;
    font: 20px Times New Roman, Serif;
}

a2 {
    color: black;
    font: 50px Times New Roman, Serif;
}

a3 {
    color: black;
    font: 25px Times New Roman, Serif;
}

a4 {
    color: black;
    font: 20px Times New Roman, Serif;
}

body {
    background-color: ghostwhite;
    background-image: url('Website Images/Review.png');
    margin: 0;
    padding: 0;
}



.center-div {
    margin: auto;
    width: 50%;
    border: 2px solid yellow;
    padding: 10px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}