@model ShootingStars.Models.TeacherReview

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/site.css">

</head>

<body>

    <div class="center-div">
        <a1>Thanks,</a1>
        <p>
            <a1>Your submission was successful!</a1>
    </div>

    <br>

    <img src="~/Content/Website Images/yey.png" class="center-img" width="550" height="500">

    <a12>Return to @Html.ActionLink("Home", "Index", "Home")</a12>

</body>