@model ShootingStars.Models.TeacherReview

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}



&ensp;&ensp;&ensp;&ensp;
<body>

    <div style="text-align:center">
        <h2>Thank you for your Submission</h2>
    </div>

    <br />

    <div style="text-align:center">
        <img src="~/Content/Website Images/Success Form.png" class="center-img" width="750" height="500">
    </div>

    <div style="text-align:center">
        <a href='@Url.Action("Index", "Home")'><button style="text-align:center">Return To Home</button></a>
    </div>
</body>
&ensp;&ensp;&ensp;&ensp;

