@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}


<head>

</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->


    <!-- Start Page Header area -->
    <div id="mu-page-header" style="background-image: url('/Content/Website Images/HeaderImage (Crop).jpeg')"; >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-header-area">
                        <h1 class="mu-page-header-title">About us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header area -->
    <!-- Start Breadcrumb -->
    <div id="mu-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb mu-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Start main content -->
    <main>
        <!-- Start About -->
        <section id="mu-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-about-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Who we are</h2>
                                        <p>Here's a short introduction as to what we do.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Feature Content -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mu-about-left">
                                        <img class="" src="~/Content/Website Images/SchoolWorld.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-about-right">
                                        <ul>
                                            <li>
                                                <h3>Our Mission</h3>
                                                <p>We want to educate all those kids who do not have the proper material to study from and to be able to guide them down the right path of excellence.</p>
                                            </li>
                                            <li>
                                                <h3>Our Vision</h3>
                                                <p>We want to build a bigger and a brighter future for our next generation, by helping one student at a time.</p>
                                            </li>
                                            <li>
                                                <h3>Our Values</h3>
                                                <p>We value hard work and promote good thinking to develop more driven students who will become the future leaders of our society.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Feature Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->
        <!-- Start Skills -->
        <section id="mu-skills" style="background-image: url('/Content/Website Images/AppleBook (Crop).jpg')"; >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-skills-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Our Pass Rate</h2>
                                        <p>These are our pass rates for each subject by our students.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Skills Content -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-skills-content">
                                        <div class="row">
                                            <!-- start single item -->
                                            <div class="col-md-3">
                                                <div class="mu-single-skills">
                                                    <div class="mu-skills-circle">
                                                        <div id="circle-1" class="mu-circle" data-circle-dialWidth=15>
                                                            <div class="loader-bg">
                                                                <div class="text">00:00:00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3>English</h3>
                                                    <p>The student pass rate of English Home Language.</p>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-3">
                                                <div class="mu-single-skills">
                                                    <div class="mu-skills-circle">
                                                        <div id="circle-2" class="mu-circle" data-circle-dialWidth=15>
                                                            <div class="loader-bg">
                                                                <div class="text">00:00:00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3>History</h3>
                                                    <p>The student pass rate of History.</p>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-3">
                                                <div class="mu-single-skills">
                                                    <div class="mu-skills-circle">
                                                        <div id="circle-3" class="mu-circle" data-circle-dialWidth=15>
                                                            <div class="loader-bg">
                                                                <div class="text">00:00:00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3>Geography</h3>
                                                    <p>The student pass rate of Geography.</p>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-3">
                                                <div class="mu-single-skills">
                                                    <div class="mu-skills-circle">
                                                        <div id="circle-4" class="mu-circle" data-circle-dialWidth=15>
                                                            <div class="loader-bg">
                                                                <div class="text">00:00:00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3>Mathematics</h3>
                                                    <p>The student pass rate of Mathematics.</p>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Skills Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Skills -->
        <!-- Start Team -->
        <section id="mu-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-team-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Creative team</h2>
                                        <p>These are some of our highly experienced teachers.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Team Content -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-team-content">
                                        <div class="row">
                                            <!-- start single item -->
                                            <div class="col-md-6">
                                                <div class="mu-single-team">
                                                    <div class="mu-single-team-img">
                                                        <img src="~/Content/Website Images/Emma Marshall.jpg" alt="img">
                                                    </div>
                                                    <div class="mu-single-team-content">
                                                        <h3>Emma Marshall</h3>
                                                        <span>English Teacher</span>
                                                        <p>Achieved a Degree in Speech and Drama.</p>
                                                        <ul class="mu-team-social">
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-6">
                                                <div class="mu-single-team">
                                                    <div class="mu-single-team-img">
                                                        <img src="~/Content/Website Images/John Smith.png" alt="img">
                                                    </div>
                                                    <div class="mu-single-team-content">
                                                        <h3>John Smith</h3>
                                                        <span>Mathematics Teacher</span>
                                                        <p>Achieved his Master's in Mathematics.</p>
                                                        <ul class="mu-team-social">
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-6">
                                                <div class="mu-single-team">
                                                    <div class="mu-single-team-img">
                                                        <img src="~/Content/Website Images/Bobby Jones.jpg" alt="img">
                                                    </div>
                                                    <div class="mu-single-team-content">
                                                        <h3>Bobby Jones</h3>
                                                        <span>History Teacher</span>
                                                        <p>Achieved a Degree in Social Sciences.</p>
                                                        <ul class="mu-team-social">
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                            <!-- start single item -->
                                            <div class="col-md-6">
                                                <div class="mu-single-team">
                                                    <div class="mu-single-team-img">
                                                        <img src="~/Content/Website Images/Hannah Torres.jpeg" alt="img">
                                                    </div>
                                                    <div class="mu-single-team-content">
                                                        <h3>Hannah Torres</h3>
                                                        <span>Life Orientation Teacher</span>
                                                        <p>Achieved a degree in Life Orientation.</p>
                                                        <ul class="mu-team-social">
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End single item -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Team Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team -->
        

    </main>

    <!-- End main content -->





</body>
