
@{
    ViewBag.Title = "Grade";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<!-- Start Page Header area -->
<div id="mu-page-header" style="background-image: url('/Content/Website Images/HeaderImage (Crop).jpeg')" ;>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-header-area">
                    <h1 class="mu-page-header-title">Grade</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header area -->
<!-- Start Breadcrumb -->
<div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mu-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Grade</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<p>
    <a href="@Url.Action("Subject4", "Subjects")">
        <img src="~/Content/Subject Images/4th.png" alt="" style="width:250px;height:250px;">
    </a>
</p>

<p>
    <a href="@Url.Action("Subject5", "Subjects")">
        <img src="~/Content/Subject Images/5th.png" alt="" style="width:250px;height:250px;">
    </a>
</p>

